[Desktop Entry]
Name=ADLplug
Name[fr]=ADLplug
Comment=FM Yamaha OPL3 synthesizer for ADLMIDI
Comment[fr]=Synthétiseur FM Yamaha OPL3 pour ADLMIDI
TryExec=ADLplug
Exec=ADLplug
Icon=ADLplug
Type=Application
Categories=AudioVideo;Audio;Music;Midi
