[Desktop Entry]
Name=OPNplug
Name[fr]=OPNplug
Comment=FM Yamaha OPN2 synthesizer for ADLMIDI
Comment[fr]=Synthétiseur FM Yamaha OPN2 pour ADLMIDI
TryExec=OPNplug
Exec=OPNplug
Icon=OPNplug
Type=Application
Categories=AudioVideo;Audio;Music;Midi
