[submodule "thirdparty/libADLMIDI"]
	path = thirdparty/libADLMIDI
	url = https://github.com/Wohlstand/libADLMIDI.git
[submodule "thirdparty/JUCE"]
	path = thirdparty/JUCE
	url = https://github.com/jpcima/JUCE.git
	shallow = true
[submodule "thirdparty/fmt"]
	path = thirdparty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "thirdparty/libOPNMIDI"]
	path = thirdparty/libOPNMIDI
	url = https://github.com/Wohlstand/libOPNMIDI.git
